.container{
    background-color: aqua;
    width: 720px;
    margin: 0 auto;
}
.menu1{
    list-style: none;
    background-color: white;
}
.menu1 li{
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    
    transition: 1s;
    
}
.menu1 li a{
    border-radius: 30px;
    text-decoration: none;
    background-color: aliceblue;
    
}
.menu1  li a:hover{
    color: red;
    background-color: rgb(4, 87, 255);
    border-radius: 20px;
    transition: 1s;
}
.social1 li{
    display: inline-block;
    transition: 1s;
}
.social1 li:hover{
    background-color: rgb(4, 87, 255);
}
.notice{
    border: 5px red solid;
}
.notice div p{
    color: black;
    text-align: center;
}
.notice div p a{
    text-decoration: none;
    text-align: center;
    color: red;
    font-size: 20px;
    background: white;
    border-radius: 50px;
    padding: 10px;
    transition: 1s;
}
.notice div h2{
    text-align: center;
}

/*
Type Code
*/
div .h2{
    margin-top: 100px;
}
div h2{
    text-align: center;
}
div p{
    height: auto;
    width: 420px;
    padding: 20px;
    display: inline-block;
}
/*
End Code
*/
.f-up{
    margin-top: 50px;
}
.f-up a{
    
    margin-left: 100px;
    text-decoration: none;
    font-size: 20px;
}
footer{
    text-align: center;
}
footer .social2 li{
    display: inline-block;
    transition: 1s;
}
footer .social2 li:hover{
    background-color: rgb(4, 87, 255);
}